build:
  image: docker:24
  services:
    - docker:24-dind
  script:
    - cd matchbox
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --platform linux/amd64,linux/arm64 --push -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME .
