build:
  image: docker:24
  services:
    - docker:24-dind
  script:
    - cd matchbox
    - docker buildx create --use
    - docker buildx inspect --bootstrap
    - docker buildx build --platform linux/amd64,linux/arm64 --push -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME .

release:
  image: docker.io/library/node:23.3.0-alpine3.19
  stage: .post
  variables:
    # renovate: datasource=npm depName=semantic-release
    SEMANTIC_RELEASE_VERSION: "24.2.3"
    # renovate: datasource=npm depName=@semantic-release/gitlab
    SEMANTIC_RELEASE_GITLAB_VERSION: "13.2.4"
    # renovate: datasource=npm depName=@semantic-release/changelog
    SEMANTIC_RELEASE_CHANGELOG_VERSION: "6.0.3"
    # renovate: datasource=npm depName=@semantic-release/git
    SEMANTIC_RELEASE_GIT_VERSION: "10.0.1"
    # renovate: datasource=npm depName=@semantic-release/exec
    SEMANTIC_RELEASE_EXEC_VERSION: "7.0.3"
    # renovate: datasource=npm depName=conventional-changelog-conventionalcommits
    CONVENTIONAL_CHANGELOG_CONVENTIONALCOMMITS_VERSION: "8.0.0"
  before_script:
    - apk add git jq curl
    - git config --global user.email "${GITLAB_USER_EMAIL}"
    - git config --global user.name "${GITLAB_USER_NAME}"
    - npm install
        "semantic-release@${SEMANTIC_RELEASE_VERSION}"
        "@semantic-release/gitlab@${SEMANTIC_RELEASE_GITLAB_VERSION}"
        "@semantic-release/changelog@${SEMANTIC_RELEASE_CHANGELOG_VERSION}"
        "@semantic-release/git@${SEMANTIC_RELEASE_GIT_VERSION}"
        "@semantic-release/exec@${SEMANTIC_RELEASE_EXEC_VERSION}"
        "conventional-changelog-conventionalcommits@${CONVENTIONAL_CHANGELOG_CONVENTIONALCOMMITS_VERSION}"
  script:
    - npx semantic-release
  rules:
    # A project access token with api and write_repository permissions is required
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $GITLAB_TOKEN && $ENABLE_RELEASE != "false"
